html {
  font-size: 16px;
  font-family: 'Electrolize', sans-serif;
  box-sizing: border-box;
  background-color: $bgc-color;
  color: $text-color;
  --car-width: 7rem;
  --flag-width: 2.5rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0 2rem;
}

main {
  position: relative;
  flex-grow: 1;
}

.header{
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  
  &__image {
    width: 6rem;
  }
}

.garage {
  &__title {
    text-align: center;
  }

  &__list {
    margin-top: 1rem;
  }
  
  &__car {
    display: grid;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    grid-template-columns: 1fr 7fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    border-bottom: 4px dashed rgb(11, 8, 49);
    background-color: $race-color;
  }

  &__buttons-selection {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    grid-column: 1 / 2;
  }

  &__buttons-controls {
    display: flex;
    gap: 0.5rem;
    grid-column: 1 / 2;
  }

  &__name {
    font-size: 1.2rem;
  }

  &__track {
    position: relative;
    grid-column: 2 / 3;
  }

  &__car-image {
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: var(--car-width);
    transition: left 0.3s linear;
    z-index: 2;

    svg {
      -webkit-filter: drop-shadow( 0px 3px 2px #000 );
      filter: drop-shadow( 0px 3px 2px #000 );
    }
  }

  &__flag-image {
    position: absolute;
    left: calc(100% - var(--car-width) - var(--flag-width));
    width: var(--flag-width);
    bottom: 0.1rem;
    transform: rotate(25deg);
  }
}

.check-engine {
  &:before {
    content: '\1F525';
    font-size: 2rem;
    color: red;
    position: absolute;
    top: -1rem;
    right: -1rem;
  }
}

.settings {
  position: relative;
    display: grid;
    gap: 1rem;
    width: 30%;

  &__field {
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
    column-gap: 0.5rem;
    width: 100%;
  }

  &__color {
    height: 100%;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__data_invalid {
    &::-webkit-input-placeholder {
      color: Red;
    }
  }
}

.button {
  color: $text-color2;
  padding: 0.3rem 1rem;
  border: none;
  background-color: $button-color3;
  transition: 0.3s all;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: $button-color2;
  }

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  &_header {
    min-width: 10%;
    text-align: center;
    text-decoration: inherit;
    background-color: $button-color1;
  }

  &_settings {
    background-color: $button-color4;
  }

  &_car {
    width: 50%;
    background-color: $button-color5;
  }
}

.pagination {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  &__page {
    width: 120px;
    font-size: 1.5rem;
    text-align: center;
  }
}

.footer {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  
  &__logo {
    height: auto;
    width: 80px;
    opacity: 0.5;
    transition: 0.3s all;
    
    &:hover {
      opacity: 1;
    }
  }

  &__github {
    text-decoration: inherit;
    opacity: 0.5;
    transition: 0.3s all;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '©';
    }
  }
}

.notaice {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  z-index: 100;

  
  &__wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 10rem;
    background-color: $race-color;
    border: 2px solid $button-color1;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
  }
}

.winners {
  &__title {
    text-align: center;
  }

  &__list {
    margin: 0 auto;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.1rem;
    width: 80%;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    color: $text-color2;
    text-align: center;
    align-content: center;
    background-color: $race-color;
    color: $text-color;

    &_header {
      color: $text-color2;
      background-color: rgba($color: $button-color2, $alpha: 0.7);
    }
  }

  &__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 0.1rem solid $bgc-color;
    font-size: 1.2rem;

    &_header {
      height: 3rem;
      font-size: 1.2rem;
    }

    &_sort {
      cursor: pointer;
      
      &:hover {
        background-color: $button-color2;
      }
    }

    svg {
      width: var(--car-width);
      -webkit-filter: drop-shadow( 0px 3px 2px #000 );
      filter: drop-shadow( 0px 3px 2px #000 );
    }
  }
}

.down {
  &:after {
    content: '\25BC';
  }
}

.up {
  &:after {
    content: '\25B2';
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 14px;
    --car-width: 5.5rem;
    --flag-width: 2rem;
  }

  .winners__list {
    width: 100%;
  }

  .garage__flag-image {
    bottom: -0.3rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
    --car-width: 5rem;
    --flag-width: 1.5rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}