$bgc-color: #eeeeed;
$race-color: #dfdfd4;
$main-color: #fcd999;
$text-color: #503e31;
$text-color2: #ffffff;
$button-color1: #503e31;
$button-color2: #836651;
$button-color3: #1e5985;
$button-color4: #13632f;
$button-color5: #d28430;